<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a target="_blank" href="http://google.com">
              <i class="fab fa-google icon"></i
            ></a>
          </li>
          <li>
            <a target="_blank" href="http://instagram.com"
              ><i class="fab fa-instagram icon"></i
            ></a>
          </li>
          <li>
            <a target="_blank" href="http://twitter.com"
              ><i class="fab fa-twitter icon"></i
            ></a>
          </li>
          <li>
            <a target="_blank" href="http://facebook.com"
              ><i class="fab fa-facebook-f icon"></i
            ></a>
          </li>
          <li>
            <a target="_blank" href="http://wikipedia.com"> Wikipedia </a>
          </li>
        </ul>
      </nav>
    </header>

    <h1>Soy un titulo</h1>
    <h2>Soy un subtitulo</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quasi
      harum dicta dolor tempora nisi quam minus voluptatum cum voluptas iure,
      libero quibusdam officia eligendi, quos numquam esse deserunt
      <span>dignissimos ipsum.</span> Doloribus adipisci aspernatur, modi odio
      error ad aliquam voluptate perferendis, sequi maxime facilis! Cumque rem
      magni neque laborum nihil!
    </p>
    <small
      >Lorem ipsum dolor sit
      <big>amet <big>consectetur</big> adipisicing elit.</big> Sequi dignissimos
      voluptatem inventore officiis ducimus ipsum voluptatibus libero laborum
      recusandae similique!</small
    >

    <div class="text-2">
      <h4 class="text-2__child">Lorem, ipsum dolor.</h4>
      <small class="text-2__child"
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi,
        sed!</small
      >
      <p class="text-2__child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore deleniti
        tempore maiores fugit perferendis reprehenderit cumque deserunt officiis
        sit odit, voluptate repudiandae esse a asperiores aliquid eaque nobis
        fugiat voluptatum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat,
        tenetur quam similique voluptatem quisquam et assumenda aperiam
        reiciendis voluptatibus maiores corrupti laudantium quasi? Similique
        nostrum cum, aperiam dicta perspiciatis dolores natus dolor molestiae
        ratione mollitia debitis qui aliquid repellat eaque possimus iure id
        vitae veritatis atque quisquam ad? Tempora, at maxime libero obcaecati
        quidem eligendi vero eveniet facere beatae necessitatibus, dignissimos
        repellendus ut eum sunt modi neque quasi tenetur alias! Aliquam illo
        iure facilis dolores quam et natus nobis ratione error ipsa sequi
        perferendis doloribus veniam reprehenderit obcaecati, quidem illum.
        Maxime eum illo voluptas labore voluptatibus esse nesciunt eaque
        temporibus illum impedit, laudantium rem nemo veritatis perferendis
        aspernatur perspiciatis earum numquam nobis nihil beatae hic molestiae
        molestias est. Aperiam nam odit temporibus, quo adipisci accusamus
        veritatis voluptatibus cupiditate, fugiat cumque dolore. Fuga, labore
        iure. Hic quia, facilis ab natus veritatis, nihil voluptatibus
        consequatur vel, possimus culpa eveniet voluptatum quaerat? Sit facere
        beatae, ipsum assumenda itaque totam provident iure reiciendis omnis,
        animi cupiditate ab ratione dolores adipisci saepe quaerat! Optio, esse
        repellendus corporis recusandae ad, laboriosam accusamus aut fugiat
        praesentium iusto necessitatibus reprehenderit. Quos amet, ducimus quasi
        exercitationem sunt quisquam tempore beatae illo quo nulla aspernatur
        magni odit distinctio sapiente aliquid illum possimus praesentium cumque
        vero. Exercitationem cum repellendus, facere mollitia temporibus dolor
        modi soluta accusamus amet dolore omnis quisquam odit officiis
        consequatur blanditiis fuga quod distinctio repudiandae debitis ducimus
        fugit libero ea quaerat. Fugiat earum explicabo inventore? Perspiciatis
        sapiente harum dolorum molestiae explicabo odit aspernatur repudiandae
        asperiores officia in saepe maiores, debitis, rerum maxime quidem
        distinctio commodi amet voluptatibus consectetur et dolore illo facere!
        Beatae omnis quam magnam consequatur dolor, iste quod animi ducimus est?
        Enim corporis accusamus dolore omnis vel facere similique laborum ipsum,
        maxime dolorum blanditiis autem reprehenderit quisquam veritatis harum
        incidunt ducimus earum vero nostrum amet facilis reiciendis id odit!
        Mollitia, minus porro. In fuga dolore porro ex vel sequi molestiae
        explicabo ipsam minus magnam magni unde mollitia aspernatur, enim quos
        dolor. Cum repudiandae vitae perferendis doloribus temporibus, ullam
        aspernatur libero quia. Cupiditate velit, necessitatibus mollitia nemo,
        amet dolorum consectetur modi fugiat, saepe impedit inventore! Maxime
        rem cum quos id in fuga at autem dolore quibusdam iste necessitatibus,
        quis vero est consectetur vitae nobis iusto deserunt reiciendis
        consequatur dolorem labore. Aspernatur mollitia velit illo totam
        inventore, excepturi ipsa. Sequi temporibus dolores quibusdam! Possimus
        sit praesentium fugiat illo recusandae culpa distinctio, sed rem aut
        nesciunt eaque consectetur qui dignissimos iusto molestiae laudantium
        mollitia. Soluta, sequi delectus? Cupiditate, aspernatur, optio
        temporibus ipsam neque non dolores eos fugiat praesentium impedit est
        culpa. Provident incidunt numquam magnam unde ab illum nihil sapiente,
        deleniti amet similique id a doloribus aspernatur ut suscipit cum fugit
        perferendis recusandae itaque cumque earum eius? Ipsam totam
        necessitatibus harum temporibus! Qui recusandae tempore explicabo ipsum
        quam cupiditate nesciunt blanditiis iusto vitae reiciendis vero,
        aliquam, nisi sunt officiis odio doloremque asperiores distinctio
        reprehenderit voluptas fugit quas. Alias fugit necessitatibus tenetur,
        unde maiores id, similique quasi temporibus odit dolorum dignissimos ut.
        Praesentium temporibus repellendus vitae reiciendis, repellat explicabo
        inventore!
      </p>
    </div>
  </body>
</html>
