<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header>
      <!-- las tres partes separadas entre si -->
      <h1>TITULO</h1>

      <!-- links uno al lado del otro -->
      <nav>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </nav>
      <div>
        <!-- el enlace al carrito (agregar icono), centrado en este """"boton"""" -->
        <a href="#">ACA VA EL CARRITO</a>
      </div>
    </header>

    <main>
      <!-- a la izq la imagen, a la derecha los textos (que deberan estar alineados a la derecha) -->
      <section>
        <img src="" alt="" />

        <h2>Subtitlo</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos,
          odit, voluptates fugiat sint exercitationem unde animi ad vel quas
          sapiente consequatur. Sapiente dignissimos sequi a natus incidunt
          facilis quia libero!
        </p>
      </section>

      <section>
        <!-- cada articulo alineado al centro -->
        <article>
          <!-- el titulo a la izq -->
          <h4>Titulo</h4>

          <!-- el small y el p al centro -->
          <small>precio</small>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
            ratione?
          </p>
        </article>

        <article>
          <h4>Titulo</h4>
          <small>precio</small>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
            ratione?
          </p>
        </article>

        <article>
          <h4>Titulo</h4>
          <small>precio</small>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
            ratione?
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
