<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formularios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <style></style>
  </head>
  <body>
    <div class="goTopBtn">
      <button>
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>
    <div class="hamburgerMenu">
      <div class="linea"></div>
    </div>
    <header>
      <nav>
        <ul style="display: flex; gap: 30px">
          <li>
            <a target="_blank" href="http://google.com"> Enlace 1</a>
          </li>
          <li>
            <a target="_blank" href="http://instagram.com">Enlace 1</a>
          </li>
          <li style="position: relative; padding: 1px">
            <a class="link3" target="_blank" href="http://twitter.com"
              >Enlace 1</a
            >
          </li>
          <li>
            <a target="_blank" href="http://facebook.com">Enlace 1</a>
          </li>
          <li>
            <a target="_blank" href="http://wikipedia.com"> Wikipedia </a>
          </li>
        </ul>
      </nav>
    </header>
    <br />
    <h1>Formulario de contacto</h1>
    <form action="/" method="get">
      <label for="name">Nombre</label>
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Ingrese un nombre..."
      />
      <br />

      <label for="password">Contraseña</label>
      <input id="password" name="password" type="password" />
      <br />

      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <br />

      <label for="mailingList">Suscribirse al mailing list</label>
      <input
        type="checkbox"
        name="mailingListSubscription"
        id="mailingList"
        value="true"
      />
      <br />

      <fieldset>
        <legend>Genero</legend>
        <label for="femenino">Femenino</label>
        <input type="radio" name="genero" id="femenino" value="fem" />
        <br />
        <label for="masculino">Masculino</label>
        <input type="radio" name="genero" id="masculino" value="masc" />
        <br />
        <label for="otro">Otro</label>
        <input type="radio" name="genero" id="otro" value="otro" />
        <br />
        <i class="fas fa-truck camioncito"></i>
      </fieldset>

      <label for="shirtSize">Tamaño remera</label>
      <select required name="shirtSize" id="shirtSize">
        <option value="">-- Elija un talle --</option>
        <option value="sRed">Small</option>
        <option value="mRed">Medium</option>
        <option value="lRed">Large</option>
        <!-- <option disabled value="">-- Color azul --</option>
        <option value="sBlue">Small</option>
        <option value="mBlue">Medium</option>
        <option value="lBlue">Large</option> -->
      </select>
      <br />

      <input type="date" max="2021-11-11" min="2021-11-01" />

      <br />

      <button id="sendBtn" disabled type="submit">Enviar</button>
    </form>
    <br />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque earum
      quaerat recusandae culpa dolorem amet odio, animi vel quo ea labore eum
      nemo commodi quisquam placeat suscipit totam corporis possimus, modi
      ratione sed! A dolorum, eius velit minus at nobis aliquid odio voluptatum
      quas molestias saepe fuga explicabo quia nesciunt animi quibusdam iure
      omnis facere excepturi ad! Debitis excepturi saepe omnis modi, provident
      voluptatibus pariatur sunt hic dolor dolorum sapiente aperiam maxime in
      quisquam nihil recusandae necessitatibus animi inventore dolore optio!
      Quibusdam repudiandae iure ipsam quas architecto cupiditate? Quisquam unde
      natus iure vero perferendis ducimus, architecto fugiat nemo dolore labore,
      recusandae magni similique corporis consequatur impedit id et commodi,
      velit illum? Perspiciatis magnam repellat fugiat esse autem perferendis
      unde quasi repudiandae sit, voluptatum, nostrum explicabo, sequi laborum
      vero rerum eius ullam delectus provident nisi alias in veritatis. Illum
      sint minus itaque aliquid veniam cum iure saepe unde voluptate. Facere,
      pariatur? Optio, veritatis ut distinctio fuga, quam aut mollitia, omnis
      iusto sint aperiam a praesentium dolorum? Blanditiis maxime eum nihil
      earum. Omnis perferendis ipsa ratione repellat obcaecati praesentium non,
      exercitationem, molestiae amet qui atque, illum ut ipsam deleniti. Autem
      illo aliquam iusto assumenda provident sapiente expedita ad vero hic,
      adipisci quas possimus voluptates pariatur voluptatem culpa necessitatibus
      laborum labore et officia! Ipsa quisquam adipisci est veritatis
      reprehenderit fuga natus sequi voluptate dolore ratione nulla odio rerum
      in, consectetur cum. Odio et facilis, voluptas quaerat eum optio
      dignissimos ad vero dolor quos. Molestias blanditiis cupiditate tenetur
      itaque eligendi quas quisquam corrupti possimus aliquid! Iusto vero error
      rem voluptatem praesentium aliquid. Dolorum nulla sequi molestiae vel
      fugiat? Quas dolores atque repellat delectus minima praesentium esse optio
      cum expedita eius neque molestiae autem, rem suscipit sint vel quia
      tenetur? Repellat qui dolorem vitae eaque ad repellendus quo. Accusamus
      sequi dolore eius excepturi ipsam quam quas voluptatum cumque optio
      obcaecati totam aspernatur animi architecto maiores, laboriosam impedit
      iste eligendi assumenda necessitatibus nulla porro? Libero iste eum dicta
      rem perferendis repudiandae repellendus ea quis amet dolor voluptatibus
      magnam ratione, dignissimos explicabo, sunt molestias, officiis sapiente
      iure fuga. Laboriosam maiores doloremque soluta, fugiat, consequatur odio
      minus iusto autem eum ex vero. Exercitationem similique fugit officia
      tempora, dolores distinctio quia voluptatem impedit ab consequuntur ipsum,
      quos deleniti nulla. Ipsa deserunt a tenetur ratione mollitia non maxime
      consectetur quos natus facere quam dolor corporis nulla hic laborum,
      doloremque atque delectus aspernatur, explicabo dignissimos! Tenetur
      praesentium repellat ipsam sequi cum, ullam expedita sed eius perspiciatis
      eaque vitae dolorum ratione dignissimos dolor, quod cumque aliquam quaerat
      officiis illum quia quos. Deleniti tempora illum temporibus hic vero
      reiciendis quidem veritatis! Repellendus aliquid at temporibus, impedit
      earum cum saepe sit ex, veniam quaerat labore, numquam facere nihil
      reiciendis? Impedit dolores ea modi dolorum velit eveniet itaque eius qui
      ratione error molestias quia, cupiditate asperiores. Distinctio pariatur
      dolores excepturi voluptatum, odio aspernatur illo. Ut, veritatis maiores
      voluptates, earum, laboriosam eveniet similique id nemo obcaecati nulla
      reiciendis cumque quis alias mollitia! Eligendi sit natus odio incidunt
      temporibus voluptatem dignissimos dolore. Facere voluptatibus quia
      necessitatibus consectetur?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
      voluptates optio magnam tenetur in, architecto et? Cum fugit eum, illum
      modi autem earum dicta assumenda ex optio tempore. Quisquam, facilis vitae
      nobis unde minus sed hic deserunt similique dignissimos fugit aliquid iste
      ipsum obcaecati maxime praesentium voluptate dicta accusantium blanditiis
      expedita iure, recusandae minima asperiores, sunt sequi? Similique
      architecto blanditiis quas aperiam ratione. Velit repudiandae
      necessitatibus nam adipisci molestias beatae id voluptatum veritatis
      omnis. Nesciunt deleniti fugit error nihil quasi, blanditiis repudiandae
      unde cumque voluptatum, illum molestiae tempore delectus? Adipisci laborum
      dignissimos distinctio fugit eius culpa non, mollitia ratione tenetur,
      ipsam ad quasi error dolor magnam ea molestias maiores officiis,
      perspiciatis fugiat. Suscipit fuga iusto praesentium beatae molestias sed
      accusantium tempore officia dolore tempora aspernatur quisquam
      reprehenderit dolores quod ducimus ab et illo non, fugiat asperiores
      corporis quia! Ipsa alias ipsam, et debitis voluptatem blanditiis
      distinctio pariatur dolorem illum assumenda id cupiditate quidem eos minus
      maiores totam quasi dolorum deserunt ea quibusdam laudantium esse earum
      harum nam. Suscipit quis fugiat a! Mollitia pariatur ex at accusamus
      provident enim id, incidunt, iusto soluta sapiente est deleniti illum
      assumenda unde maiores voluptatum sunt, ea iure magni! Rerum obcaecati
      illum explicabo temporibus recusandae voluptate itaque in error similique.
      Autem, praesentium mollitia accusantium sapiente, quam voluptates
      veritatis deleniti ut dolore doloremque unde esse repellendus aliquid
      possimus debitis sequi omnis maxime incidunt delectus itaque iusto
      molestiae perspiciatis tempore! Amet itaque repellendus expedita ut
      deleniti modi ratione, iste nemo officiis quo dignissimos, mollitia
      recusandae dolore alias, dolor consectetur? Aperiam temporibus, eligendi
      dicta optio accusantium sit ex in commodi consequatur modi minus
      repellendus natus dolores iusto ducimus veritatis iste ut non iure nemo
      maiores ab facere! Doloremque asperiores molestias nisi sit commodi
      voluptate! Sint officiis nesciunt sequi! Sequi, repudiandae. Et, quos,
      distinctio quae excepturi quibusdam consectetur error fugit magni
      laudantium assumenda id consequatur voluptas, facere modi! Consectetur
      aliquid consequatur minus delectus. Dignissimos, similique veniam
      necessitatibus delectus iusto quam ducimus placeat recusandae cupiditate
      illum earum reiciendis repellat aliquam alias quibusdam natus odio
      repudiandae exercitationem autem consequatur? Ea quam eos dolor ex, harum
      inventore fuga distinctio, quia voluptatem magni suscipit, aut voluptas
      quaerat aliquam delectus qui ratione! Numquam neque dolore dolor ipsum
      sequi, dolorem accusantium animi voluptate saepe fugit dolorum ratione
      maiores molestias temporibus perspiciatis error repellendus vitae corrupti
      exercitationem aspernatur quia in ab. Perferendis, architecto! Aut rem,
      voluptates excepturi quos est porro necessitatibus animi earum aperiam,
      cumque tenetur optio doloremque quo quod dignissimos repellat vero,
      reiciendis consectetur suscipit? Illum nulla ut natus, sequi animi ipsam
      voluptatum alias maiores maxime distinctio similique, nostrum quis ea
      magni a dicta praesentium, saepe quae dignissimos doloremque dolores culpa
      quisquam. Necessitatibus explicabo similique nemo quis ratione eos
      voluptate sapiente earum provident a sit totam maxime, dolore incidunt
      excepturi quos consequatur non facilis cumque minima omnis doloremque.
      Itaque ut tempore quia omnis consequuntur, voluptatum ipsa deleniti
      repudiandae accusantium soluta sequi eligendi minima ab quas sunt, facere
      maxime et, illo enim. Error voluptatibus suscipit ullam provident ab ipsum
      debitis ducimus molestiae aliquid facere saepe explicabo sequi dolorum
      doloribus ad aperiam fugit minima sunt, exercitationem architecto qui ipsa
      dolorem corporis veritatis! Sequi voluptatem dolores beatae a obcaecati,
      hic corrupti deleniti ab ipsa voluptate modi! Recusandae, sapiente magni
      hic quam provident quis debitis sequi eligendi nam adipisci delectus culpa
      reprehenderit ut cumque quidem minus porro! Reprehenderit voluptates atque
      veritatis praesentium tempora accusamus modi ad provident aliquid ullam,
      itaque unde sapiente molestiae ipsam veniam iusto ut voluptas saepe
      corporis quos recusandae facere assumenda nemo molestias. Incidunt ullam
      harum veniam itaque distinctio suscipit laboriosam, modi numquam tempore
      necessitatibus quis tenetur, reprehenderit enim impedit, nihil dolorem
      nobis natus amet voluptate! Aspernatur officiis quae ratione omnis nemo
      natus quo vitae. Eos nisi necessitatibus cumque accusantium fuga quae
      voluptas hic voluptates sapiente, dolorum non ab molestiae perspiciatis
      animi iure earum facilis quibusdam, laborum deleniti. Porro rem modi earum
      eligendi ullam, ducimus distinctio architecto temporibus? Blanditiis
      magni, doloribus beatae natus nisi itaque necessitatibus veritatis nulla
      vel omnis consequatur magnam molestiae eaque facilis libero perspiciatis
      corrupti repellat! Accusamus beatae pariatur aperiam odio excepturi
      molestiae distinctio unde dolor iste sed quaerat explicabo odit enim, nam,
      ad illum tenetur necessitatibus nemo vel, ullam ut ipsam. Et accusantium
      consequuntur, itaque velit ducimus, adipisci porro dignissimos facere,
      amet dolores facilis? Laudantium modi vitae quia aperiam? Veniam iusto non
      eligendi, vero velit quam in dolore cumque at et, sequi qui? Tempora
      praesentium facilis numquam omnis, deserunt ut culpa dolorum officiis
      neque odit sint est consequuntur. Laborum, debitis obcaecati libero quidem
      provident natus sint ad atque necessitatibus vitae expedita commodi est
      ducimus veritatis. Modi, aut in architecto a voluptate odit consequuntur
      eos illo nulla dicta dignissimos, amet dolorum est vero expedita
      temporibus laudantium excepturi tenetur cumque laborum. Error ullam
      placeat delectus quibusdam officia beatae quidem rem, ad repellat ex aut
      illo laboriosam earum modi minima odio veritatis recusandae ipsa neque.
      Hic nostrum veniam recusandae voluptate quos, molestiae maxime quia
      incidunt culpa odio repellendus libero quod optio voluptas nobis repellat,
      quae amet eveniet cupiditate! Quia aperiam nesciunt ab harum rerum omnis
      illo, officia libero in maiores adipisci obcaecati rem repellendus
      repellat consectetur vitae possimus optio tempora et ex veritatis ut est.
      Facilis deserunt ut nihil sit esse? Perferendis eaque labore cum qui
      consectetur deserunt doloremque rerum hic molestias dolores nisi
      quibusdam, eligendi alias maiores et distinctio ea! Corporis recusandae
      quisquam, pariatur eligendi ea magnam voluptas dicta odio beatae ducimus
      repudiandae voluptates maiores molestias eaque cum vero, dignissimos
      temporibus. Est magnam, asperiores mollitia consequuntur beatae cum
      dolorum aspernatur animi autem quas illum quaerat atque quibusdam, dolores
      provident nam iusto maxime ullam labore consectetur aliquam quam cumque?
      Expedita eveniet rem repellendus veniam consequatur. Sapiente, deleniti
      quis accusamus iusto voluptatem sed provident laboriosam doloribus libero
      voluptas numquam voluptate aspernatur commodi eum tempore saepe! Tenetur
      sint distinctio pariatur sed consectetur nam nulla, nostrum quos, qui
      ipsam similique cupiditate, saepe libero deleniti reiciendis corporis. Vel
      sequi modi possimus hic, quos consequuntur quibusdam id suscipit est!
      Dignissimos cum voluptatum fugiat iusto laborum alias non? Odit aliquam
      consectetur, sequi ipsum velit asperiores error nihil totam. Praesentium,
      doloribus eos.
    </p>
  </body>
</html>
